span{
    display: block;
}
body{
    text-align: center;
}
.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

.canvas{
    margin: 100px;
    /* width: 100%; */
}

#grey{
    background-color: grey;
}
#orange{
    background-color: orange;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}